<div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image:url(assets/img/bg12.jpg)"></div>
  <div class="container">
      <div class="col-md-4 content-center">
          <div class="card card-login card-plain">
              <form class="form" method="" action="" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)" novalidate>
                  <div class="header header-primary text-center">
                      <div class="logo-container">
                          <img src="assets/img/triologo.png" alt="">
                      </div>
                      <h2>HRM</h2>
                  </div>
                  <div class="content">
                      <div class="input-group form-group-no-border input-lg">
                          <span class="input-group-addon">
                              <i class="now-ui-icons ui-1_email-85"></i>
                          </span>
                          <input type="email" class="form-control" placeholder="Email" name="email" #Email="ngModel"
                          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required ngModel>
                      </div>
                      <div *ngIf="Email.errors && (Email.touched|| Email.dirty)" class="alert text-danger">
                        <div [hidden]="!Email.errors.required">
                            *Emailid required
                        </div>
                        <div [hidden]="!Email.errors.pattern">
                              *Please enter valid email
                        </div>                                                      
                      </div>
                      <div class="input-group form-group-no-border input-lg">
                          <span class="input-group-addon">
                              <i class="now-ui-icons ui-1_lock-circle-open"></i>
                          </span>
                          <input type="password" placeholder="Password" class="form-control" #Password="ngModel" name="password"
                          minlength="6" required  ngModel />
                      </div>
                      <div *ngIf="Password.errors && (Password.touched|| Password.dirty)" class="alert text-danger">
                        <div [hidden]="!Password.errors.required">
                            *Password requried
                          </div>
                          <div [hidden]="!Password.errors.minlength">
                             *Please enter minimum 6 character
                          </div>
                      </div>
                  </div>
                  <div class="footer text-center">
                    <button class="btn btn-primary btn-round btn-lg btn-block" [disabled]="!loginForm.form.valid" type="submit" data-toggle="modal" data-target="#loginModal"> Login</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
  <app-footer></app-footer>
</div>
